#image_area {
  width: 340px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#images_list_area {
  width: 100%;
}

#image_area:hover {
  cursor: pointer;
  opacity: 0.8;
}

#images {
  display: flex;
  flex-wrap: wrap;
}

.unique_image {
  width: 340px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
.one_image {
  width: 340px;
  height: 250px;
  object-fit: cover;
}

.removeImage {
  display: inline-block;
  color: white;
  position: absolute;
  right: 5px;
  top: 2px;
}

.removeImage:hover {
  cursor: pointer;
}
