@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

.App {
  min-height: 100vh;
  transition: 0.3s;
  padding-left: 10%;
  padding-right: 20%;
}

#space {
  display: flex;
  padding-top: 60px;
  margin-left: 80px;
}

#body-space {
  width: 80%;
  position: relative;
  padding-left: 30px;
  padding-top: 0px;
}
#toggler {
  position: absolute;
  right: 0;
  top: -20px;
}

.board-title {
  font-weight: bold;
  display: inline-block;
  margin-top: 8px;
}
#patient-create:hover {
  cursor: pointer;
}
select {
  font-size: 12px;
  height: 24px;
  margin-top: 10px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  border: none;
}

select:focus {
  outline: none;
}
